# Ignore files for git #

*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ignore this if change databsae lcoally
mysite/settings.py
