{% load static %}
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <title>Book Flight</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/book.css' %}" /> {% if duplicate_name %}
    <div class="alert alert-danger" role="alert" style="margin-bottom: 0px; text-align: center;">
        Passenger
        <strong>{{duplicate_name}}/{{ duplicate_name|capfirst }}</strong> is already on that flight, duplicated!
    </div>
    {% endif %}
    <div id="mybody">
        <div id="back">
            <div id="right">
                <button type="button" class="btn btn-outline-light">
                    <a href="{% url 'polls:index_default' %}">
                        <strong>Back to search page</strong>
                    </a>
                </button>
            </div>
        </div>
        <div id="content">
            <h3 style="margin-left: 20px;">My Cart:</h3>
            <div id="flight">
                <h5>
                    <img src="{% static 'polls/images/airplane.png' %}">{{ flight.depart_airport.city }}, {{ flight.depart_airport.country }} - {{ flight.arrive_airport.city}},
                    {{ flight.arrive_airport.country }} &nbsp; &nbsp; &nbsp;{{ flight.workday }}</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="5">{{ flight.depart_airport }} - {{ flight.arrive_airport }}</th>
                        </tr>
                    </thead>
                </table>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="width: 25%">{{ flight.airline.airline_name }}, Flight No. {{ flight.flight_id }}
                            </td>
                            <td style="width: 20%">departs {{ flight.depart_airport.airport_id }}, {{flight.depart_time}}
                                <p>{{ flight.workday }}</p>
                            </td>
                            <td style="width: 20%">arrives {{ flight.arrive_airport.airport_id }}, {{flight.arrive_time}}
                                <p>{{ flight.arrive_date }}</p>
                            </td>
                            <td>
                                &nbsp; &nbsp;
                                <img src="{% static 'polls/images/svg/clock.svg' %}" alt="clock" style="width:15px; height: 15px;margin-bottom:3px;">
                                <p>{{ flight.fly_hour }} hours</p>
                            </td>
                            <td> Per person:
                                <p>${{ flight.fare }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="content">
            <div id="passenger">
                <h4 style="margin-bottom:20px;">
                    <strong>Travelers' details :</strong>
                </h4>
                <div id="pform">
                    <form class="needs-validation" novalidate action="{% url 'polls:buy' %}" method="post">{% csrf_token %}
                        <div class="form-group row">
                            <label for="account" class="col-sm-2 col-form-label">Select account: </label>
                            <input type="hidden" name="cost" value="{{ flight.fare }}">
                            <input type="hidden" name="leave_date" value="{{ flight.workday }}">
                            <input type="hidden" name="fid" value="{{ flight.fid }}">
                            <div class="col-sm-4">
                                <select id="account" name="account_id_and_credit_card" class="form-control">
                                    {% for account in accounts %} {% if forloop.counter == 1 %}
                                    <option selected value="{{account.account_id}},{{account.credit_card}}"> &nbsp; &nbsp; &nbsp; No.{{account.account_id}}, credit card: {{account.credit_card}}'</option>
                                    {% else %}
                                    <option value="{{account.account_id}},{{account.credit_card}}"> &nbsp; &nbsp; &nbsp; No.{{account.account_id}}, credit card: {{account.credit_card}}'</option>
                                    {% endif %} {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% for i in passenger_loop_times %}
                        <div class="form-group row" id="information">
                            <div class="col-md-4" style="margin-bottom: -10px;">
                                <label for="customer{{ forloop.counter }}">Passenger #{{ forloop.counter }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name{{ forloop.counter }}" class="col-sm-2 col-form-label">Name: </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="name{{forloop.counter}}" name="name{{forloop.counter}}" placeholder="" required>
                                <div id="error{{forloop.counter}}" style="color:red; display:none">
                                    Name cannot be the empty or be same.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <legend for="meal{{ forloop.counter }}" class="col-form-label col-sm-2 pt-0">Meal: </legend>
                            <div class="col-sm-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="meal{{ forloop.counter }}" id="inlineRadio1" value="regular" checked>
                                    <label class="form-check-label" for="inlineRadio1">regular</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="meal{{ forloop.counter }}" id="inlineRadio2" value="vegetarian">
                                    <label class="form-check-label" for="inlineRadio2">vegetarian</label>
                                </div>
                            </div>
                            <legend for="class{{ forloop.counter }}" class="col-form-label col-sm-1 pt-0">Class: </legend>
                            <div class="col-sm-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="class{{ forloop.counter }}" id="inlineRadio1" value="Economy" checked>
                                    <label class="form-check-label" for="inlineRadio1">Economy</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="class{{ forloop.counter }}" id="inlineRadio2" value="Business">
                                    <label class="form-check-label" for="inlineRadio2">Business</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="class{{ forloop.counter }}" id="inlineRadio3" value="First">
                                    <label class="form-check-label" for="inlineRadio3">First</label>
                                </div>
                            </div>
                        </div>
                        <hr> {% endfor %}
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" style="width:80px;">Buy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="empty"></div>
    </div>
</body>

<script type="text/javascript">
    function getMax() {
        var i = 1;
        for (; i <= 5; i++) {
            var n = document.getElementById("name" + i);
            if (n == null) {
                break;
            }
            max = i;
        }
        return max;
    }
    // create customer function to check valid input
    function checkValue() {
        var i = 1;
        var max = getMax();
        var list = [];
        for (; i <= getMax(); i++) {
            var n = document.getElementById("name" + i);
            list.push(n.value);
        }
        var nullValue = false;
        i = 0;
        for (; i < max; i++) {
            if (list[i] == "") {
                nullValue = true;
                break;
            }
        }
        var sameValue = false;
        i = 0;
        list.sort();
        for (; i < max - 1; i++) {
            if (list[i] == list[i + 1]) {
                sameValue = true;
                break;
            }
        }
        if (nullValue == true)
            return "null";
        if (sameValue == true)
            return "same";
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    $(document).ready(function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (checkValue() == "null") {
                        var i = 1;
                        var max = getMax();
                        for (; i <= max; i++) {
                            var err = document.getElementById("error" + i);
                            err.innerText = "name can not be empty"
                            err.style.display = "block";
                        }
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    if (checkValue() == "same") {
                        var i = 1;
                        var max = getMax();
                        for (; i <= max; i++) {
                            var err = document.getElementById("error" + i);
                            err.innerText = "name can not be same"
                            err.style.display = "block";
                        }
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    });
</script>

</html>