{% load static %}
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <link rel="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/customer.css' %}" />
    <div id="head">
        <div id="left">
            <h4>Hello {{ customer.first_name }}!</h4>
        </div>
        <div id="right">
            <button type="button" class="btn btn-outline-light">
                <a href="{% url 'polls:index_default' %}">Back to search page</a>
            </button>
        </div>
    </div>
    <div id="mytable">
        <div id="bar" style="background-color: #e3f2fd;">
            <nav id="mynav">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true">Current Reservation</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Reservation History</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                        aria-selected="false">Profile</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-passenger" role="tab" aria-controls="nav-passenger"
                        aria-selected="false">Passengers</a>
                </div>
            </nav>
        </div>
        <div id="mycontent">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table table-striped" id="reservation_now">
                        <thead>
                            <tr>
                                <th scope="col">Reservation ID</th>
                                <th scope="col">Flight ID</th>
                                <th scope="col">Order Date</th>
                                <!-- <th scope="col">Total Cost</th> -->
                                <th scope="col">Leave Date</th>
                                <th scope="col">Depart Airport</th>
                                <th scope="col">Arrive Airport</th>
                                <th scope="col">Passenger Name</th>
                                <th scope="col">Passenger Seat</th>
                                <th scope="col">Passenger Meal Preference</th>
                                <th scope="col">Passenger Class</th>
                                <th scope="col">Price</th>
                                <th scope="col">Representative ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cur in current %}
                            <tr>
                                <th scope="col">{{ cur.0 }}</th>
                                <th scope="col">{{ cur.1 }}</th>
                                <th scope="col">{{ cur.2 }}</th>
                                <!-- <th scope="col">{{ his.3 }}</th> -->
                                <th scope="col">{{ cur.4 }}</th>
                                <th scope="col">{{ cur.5 }}</th>
                                <th scope="col">{{ cur.6 }}</th>
                                <th scope="col">{{ cur.7 }}</th>
                                <th scope="col">{{ cur.8 }}</th>
                                <th scope="col">{{ cur.9 }}</th>
                                <th scope="col">{{ cur.10 }}</th>
                                <th scope="col">{{ cur.11 }}</th>
                                <th scope="col">{{ cur.12 }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table table-striped" id="reservation_history">
                        <!-- <table id="example" class="display nowrap" style="width:100%"> -->
                        <thead>
                            <tr>
                                <th scope="col">Reservation ID</th>
                                <th scope="col">Flight ID</th>
                                <th scope="col">Order Date</th>
                                <!-- <th scope="col">Total Cost</th> -->
                                <th scope="col">Leave Date</th>
                                <th scope="col">Depart Airport</th>
                                <th scope="col">Arrive Airport</th>
                                <th scope="col">Passenger Name</th>
                                <th scope="col">Passenger Seat</th>
                                <th scope="col">Passenger Meal Preference</th>
                                <th scope="col">Passenger Class</th>
                                <th scope="col">Price</th>
                                <th scope="col">Representative ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for his in history %}
                            <tr>
                                <th scope="col">{{ his.0 }}</th>
                                <th scope="col">{{ his.1 }}</th>
                                <th scope="col">{{ his.2 }}</th>
                                <!-- <th scope="col">{{ his.3 }}</th> -->
                                <th scope="col">{{ his.4 }}</th>
                                <th scope="col">{{ his.5 }}</th>
                                <th scope="col">{{ his.6 }}</th>
                                <th scope="col">{{ his.7 }}</th>
                                <th scope="col">{{ his.8 }}</th>
                                <th scope="col">{{ his.9 }}</th>
                                <th scope="col">{{ his.10 }}</th>
                                <th scope="col">{{ his.11 }}</th>
                                <th scope="col">{{ his.12 }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div id="myprofile">
                        <form action="{% url 'polls:update_info' %}" method="post">{% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="{{ customer.email }}" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter New Password Here">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name" placeholder="{{ customer.first_name }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name" placeholder="{{ customer.last_name }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="phone">Phone</label>
                                    <input type="number" class="form-control" id="phone" name="phone" placeholder="{{ customer.phone }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="{{ customer.address }}">
                            </div>
                            <!-- <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div> -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity" name="city" placeholder="{{ customer.city }}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" name="state" class="form-control">
                                        <option selected value="{{ customer.state }}">{{ customer.state }}</option>
                                        {% for state in states %}
                                        <option value="{{ state }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputZip">Zip</label>
                                    <input type="number" class="form-control" id="inputZip" name="zip" placeholder="{{ customer.zip }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputPreference">Preference</label>
                                    <input type="text" class="form-control" id="inputPreference" name="preference" placeholder="{{ customer.preference }}">
                                </div>
                            </div>
                            <!-- <div class="form-row">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div> -->
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-passenger" role="tabpanel" aria-labelledby="nav-passenger-tab">
                    <div>
                        <table class="table table-striped" id="used_passenger">
                            <thead>
                                <tr>
                                    <th scope="col">Passengers you ever added:</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for passenger in passengers %}
                                <tr>
                                    <th scope="col">{{ passenger }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>