{% load static %}
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <title>SuperFligt</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> {% if warning %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Wrong</strong> email and password combination, please login again.
    </div>
    {% endif %}
    <div id="header">
        <h2>
            <div>
                <p class="left">
                    <img src="{% static 'polls/images/Rutgers.png' %}" width="40" height="40"> SuperFlight
                </p>
            </div>
            <!-- <div>
                <p class="left">
                    <img src="{% static 'polls/images/Rutgers.png' %}" width="40" height="40"> SuperFlight
                </p>
                <p class="right">
                    login
                    <img src=" {% static 'polls/images/login.jpg' %} " width="30 " height="30 ">
                </p>
            </div> -->
            <div class="right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="background-color:green">Login</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <form action="{% url 'polls:login' %}" method="post">{% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                                            </div>
                                            <!-- <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div> -->
                                            <button type="submit" class="btn btn-primary" style="background-color:green">Submit</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Pleae enter your email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Please enter your password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Please enter your password again</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                            </div>
                                            <!-- <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div> -->
                                            <button type="submit" class="btn btn-primary" style="background-color:green">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h2>
    </div>
    <div style="clear: both;"></div>
    <div id="selection">
        <div>
            <h1 id="welcome">Welcome to SuperFlight, the best website for flight ticket</h1>
        </div>
        <form id="searchForm" action="{% url 'polls:search' %}" method="post">{% csrf_token %}
            <div id="dropdown">
                <div class="form-group row" id="first_group">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Depart Airport</label>
                    <input type="text" list="option" id="from" class="col-sm-4" name="from" value="(PVG)Shanghai Pudong International Airport">
                    <datalist id="option">
                        {% for airport in airports %}
                        <option value="{{ airport }}"></option>
                        {% endfor %}
                    </datalist>
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Arrive Airport</label>
                    <input type="text" list="option" id="to" class="col-sm-4" name="to" value="(LAX)Los Angeles International Airport">
                </div>
                <div class="form-group row" id="second_group">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Depart Date</label>
                    <input type="text" onfocus="(this.type='date')" id="leave" name="leave" class="col-sm-4" placeholder="Depart Date">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Return Date</label>
                    <input type="text" onfocus="(this.type='date')" id="return" name="return" class="col-sm-4" placeholder="Return Date">
                </div>
                <div class="form-group row" id="third_group">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Passenger</label>
                    <button id="passenger" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img id="passenger_icon" src="{% static 'polls/images/passenger2.jpg' %}" width=" 22 " height="22 " />
                        <span class="passenger">1</span>
                    </button>
                    <div class="dropdown-menu ">
                        <li>
                            <a class="dropdown-item " href="# ">1</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="# ">2</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="# ">3</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="# ">4</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="# ">5</a>
                        </li>
                    </div>
                </div>
                <div class="form-group row" id="fourth_group">
                    <button id="search" type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
    </div>
</body>

<!--Footer-->
<footer id="footer" class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div id="disclaimer" class="text-center py-3" style="background-color: #F8F8F8;">
        <div class="list-unstyled list-inline mb-0">
            <h6 class="text-uppercase">Disclaimer</h6>
            <p>This website is only used for CS539 project. No commercial use will be involved. </p>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div id="copyright" class="footer-copyright py-3 text-center" style="background-color: #F8F8F8;">
        © 2018 Copyright: Shuaishuai Sun, Tianqi Nan, Xin Zhang, Zhu He
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script>
    //Set dropdown list
    var passenger;
    $('.dropdown-menu li').on('click', function () {
        passenger = $(this).find('a').html();
        $('.passenger').html(passenger);
    });

    //Set default date
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    $('#leave').attr("placeholder", today);
    var tom = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
    var day_tom = ("0" + tom.getDate()).slice(-2);
    var month_tom = ("0" + (tom.getMonth() + 1)).slice(-2);
    var year_tom = tom.getFullYear();
    var tomorrow = year_tom + "-" + month_tom + "-" + (day_tom);
    $('#return').attr("placeholder", tomorrow);

    $('#leave').attr("value", today);
    $('#return').attr("value", tomorrow);

    //From return passenger number
    $("#searchForm").submit(function (eventObj) {
        if (passenger == null)
            passenger = 1;
        $('<input />').attr('name', "passenger")
            .attr('value', passenger)
            .appendTo(this);
        return true;
    });
</script>

</html>