{% load static %}
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <title>SuperFligt</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" /> {% if warning %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>WRONG</strong> email and password combination, please login again.
    </div>
    {% endif %}
    <div id="header">
        <h2>
            <div>
                <p class="left">
                    <img src="{% static 'polls/images/Rutgers.png' %}" width="40" height="40"> SuperFlight
                </p>
            </div>
            <!-- <div>
                <p class="left">
                    <img src="{% static 'polls/images/Rutgers.png' %}" width="40" height="40"> SuperFlight
                </p>
                <p class="right">
                    login
                    <img src=" {% static 'polls/images/login.jpg' %} " width="30 " height="30 ">
                </p>
            </div> -->
            <div class="right">
                {% if user.is_authenticated %}
                <div>
                    <!-- <form action="{% url 'polls:logout' %}" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="background-color:green">Logout</button>
                    </form>
                    <button type="submit" class="btn btn-primary" style="background-color:green">Profile</button> -->
                    <div class="btn-group dropleft" id="user">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Welcome {{ user.first_name }} !
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="user_dropdown">
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'polls:manager' %}">Manager Page</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'polls:customer' %}">My Profile</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'polls:logout' %}">Log out</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Login</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <form action="{% url 'polls:login' %}" method="post">{% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                                            </div>
                                            <!-- <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div> -->
                                            <button type="submit" class="btn btn-primary" style="background-color:green">Submit</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <form class="needs-validation" novalidate action="{% url 'polls:register' %}" method="post" id="register">{% csrf_token %}
                                            <div class="form-group">
                                                <label for="Email">Pleae enter your email address (*)</label>
                                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                                <div class="warning" id="erremail" style="color:red; display:none">
                                                    Email cannot be the empty.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password1">Please enter your password (*)</label>
                                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                                                <div class="warning" id="errpassword1" style="color:red; display:none">
                                                    Password cannot be the empty.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password2">Please enter your password again (*)</label>
                                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Password" onkeyup="checkPass(); return false;"
                                                    required>
                                                <div class="warning" id="errpassword2" style="color:red; display:none">
                                                    Password cannot be the empty.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstName">Please enter your first name (*)</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
                                                <div class="warning" id="errfirstName" style="color:red; display:none">
                                                    FirstName cannot be the empty.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Please enter your last name (*)</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                                                <div class="warning" id="errlastName" style="color:red; display:none">
                                                    LastName cannot be the empty.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="card1">Please enter your credit card number (*)</label>
                                                <input type="number" class="form-control" id="card1" name="card1" placeholder="Enter Credit Card for First Account" required>
                                                <div class="warning" id="errcard1" style="color:red; display:none">
                                                    You must provide at least one credit card.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="card2">Please enter your credit card number</label>
                                                <input type="number" class="form-control" id="card2" name="card2" placeholder="Enter Credit Card for Second Account">
                                            </div>
                                            <div class="form-group">
                                                <label for="card3">Please enter your credit card number</label>
                                                <input type="number" class="form-control" id="card3" name="card3" placeholder="Enter Credit Card for Third Account">
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Please enter your address</label>
                                                <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address">

                                            </div>
                                            <div class="form-group">
                                                <label for="city">Please enter your city</label>
                                                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">

                                            </div>
                                            <div class="form-group">
                                                <label for="state">Please enter your state</label>
                                                <select class="form-control" id="state" name="state" placeholder="Enter State">
                                                    <option selected value="New York (NY)">New York (NY)</option>
                                                    {% for state in states %}
                                                    <option value="{{ state }}">{{ state }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="zip">Please enter your zip code</label>
                                                <input type="number" class="form-control" id="zip" name="zip" placeholder="Enter Zip Code">

                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Please enter your phone number</label>
                                                <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number">

                                            </div>
                                            <!-- <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div> -->
                                            <button type="submit" class="btn btn-primary" style="background-color:green">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </h2>
    </div>
    <div style="clear: both;"></div>
    <div id="selection">
        <div id="top">
        </div>
        <div id="white">
            <div>
                <h2 id="welcome">Welcome to SuperFlight, your exclusive hookup for cheap flights</h2>
            </div>
            <form id="searchForm" action="{% url 'polls:search' %}" method="post">{% csrf_token %}
                <div id="dropdown">
                    <div class="form-group row" id="first_group">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Depart Airport</label>
                        <input type="text" list="option" id="from" class="col-sm-4" name="from" value="(PVG)Shanghai Pudong International Airport">
                        <datalist id="option">
                            {% for airport in airports %}
                            <option value="{{ airport }}"></option>
                            {% endfor %}
                        </datalist>
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Arrive Airport</label>
                        <input type="text" list="option" id="to" class="col-sm-4" name="to" value="(LAX)Los Angeles International Airport">
                    </div>
                    <div class="form-group row" id="second_group">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Depart Date</label>
                        <input type="text" onfocus="(this.type='date')" id="leave" name="leave" class="col-sm-4" placeholder="Depart Date">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Return Date</label>
                        <input type="text" onfocus="(this.type='date')" id="return" name="return" class="col-sm-4" placeholder="Return Date">
                    </div>
                    <div class="form-group row" id="third_group">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Passenger</label>
                        <button id="passenger" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img id="passenger_icon" src="{% static 'polls/images/passenger2.jpg' %}" width=" 22 " height="22 " />
                            <span class="passenger">1</span>
                        </button>
                        <div class="dropdown-menu ">
                            <li>
                                <a class="dropdown-item " href="# ">1</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="# ">2</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="# ">3</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="# ">4</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="# ">5</a>
                            </li>
                        </div>
                    </div>
                    <div class="form-group row" id="fourth_group">
                        <button id="search" type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<!--Footer-->
<footer id="footer" class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div id="disclaimer" class="text-center py-3" style="background-color: #F8F8F8;">
        <div class="list-unstyled list-inline mb-0">
            <h6 class="text-uppercase">Disclaimer</h6>
            <p>This website is only used for CS539 project. No commercial use will be involved. </p>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div id="copyright" class="footer-copyright py-3 text-center" style="background-color: #F8F8F8;">
        © 2018 Copyright: Shuaishuai Sun, Tianqi Nan, Xin Zhang, Zhu He
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script>
    //Set dropdown list
    var passenger;
    $('.dropdown-menu li').on('click', function () {
        passenger = $(this).find('a').html();
        $('.passenger').html(passenger);
    });

    //Set default date
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    $('#leave').attr("placeholder", today);
    var tom = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
    var day_tom = ("0" + tom.getDate()).slice(-2);
    var month_tom = ("0" + (tom.getMonth() + 1)).slice(-2);
    var year_tom = tom.getFullYear();
    var tomorrow = year_tom + "-" + month_tom + "-" + (day_tom);
    $('#return').attr("placeholder", tomorrow);

    $('#leave').attr("value", today);
    $('#return').attr("value", tomorrow);

    //Form return passenger number
    $("#searchForm").submit(function (eventObj) {
        if (passenger == null)
            passenger = 1;
        $(this).append('<input type="hidden" id="passenger_number" name="passenger_number" value="" /> ');
        document.getElementById("passenger_number").value = passenger;
        return true;
    });
</script>

<script>
    function checkPass() {
        //Store the password field objects into variables ...
        var pass1 = document.getElementById('password1');
        var pass2 = document.getElementById('password2');
        //Store the Confimation Message Object ...
        var message = document.getElementById('errpassword2');
        //Set the colors we will be using ...
        var goodColor = "#ffffff";
        var badColor = "#ff6666";
        //Compare the values in the password field 
        //and the confirmation field
        if (pass1.value == pass2.value) {
            //The passwords match. 
            //Set the color to the good color and inform
            //the user that they have entered the correct password 
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            // message.innerHTML = "Passwords Match!"
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Passwords Do Not Match!"
        }
        return pass1.value == pass2.value
    }
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    $(document).ready(function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (checkPass() == false || form.checkValidity() === false) {
                        var errList = ['email', 'password1', 'password2', 'firstName', 'lastName', 'card1'];
                        var i = 0;
                        var len = errList.length;
                        for (; i < len; i++) {
                            if (document.getElementById(errList[i]).value == "") {
                                document.getElementById("err" + errList[i]).style.display = "block";
                            } else {
                                if (errList[i] != "password2")
                                    document.getElementById("err" + errList[i]).style.display = "none";
                            }
                        }
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    });
</script>

</html>