{% load static %}
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <title>SuperFligt</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/manager.css' %}" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Manage Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="content-link nav-link" data-toggle="collapse" id="nav_sales_report" data-target="#sales_report">Sales Report</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Revenues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="content-link dropdown-item" id="nav_revenue_flights" data-toggle="collapse" data-target="#revenue_flights">By Flights</a>
                        <a class="content-link dropdown-item" id="nav_revenue_airports" data-toggle="collapse" data-target="#revenue_airports">By Destination City</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Customers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_customers" data-target="#customers">All Customers List</a>
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_customer_info" data-target="#customer_info">Change Customer Information</a>
                        <div class="dropdown-divider"></div>
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_customer_revenue" data-target="#customer_revenue">Customer Revenue List</a>
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_reserved_customers" data-target="#reserved_customers">Customers on Given Flight</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Flights
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="content-link dropdown-item" id="nav_flights" data-toggle="collapse" data-target="#flights">All Flights</a>
                        <a class="content-link dropdown-item" id="nav_delay_flights" data-toggle="collapse" data-target="#delay_flights">Delay Flights</a>
                        <a class="content-link dropdown-item" id="nav_airport_flights" data-toggle="collapse" data-target="#airport_flights">Flights By Airport</a>
                        <div class="dropdown-divider"></div>
                        <a class="content-link dropdown-item" id="nav_active_flights" data-toggle="collapse" data-target="#active_flights">Most Active Flights</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Reservations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_reservations_flight" data-target="#reservations_flight">Reservations By Flight</a>
                        <a class="content-link dropdown-item" data-toggle="collapse" id="nav_reservations_customer" data-target="#reservations_customer">Reservations By Customer</a>
                    </div>
                </li>
            </ul>
            <div>
                <li class="nav-item ml-auto">
                    <a class="nav-link float-right" href="{% url 'polls:index_default' %}" style="color:white">Back to search page</a>
                </li>
            </div>
        </div>
    </nav>
    <!-- The following tag shouldn't have any spaces between two sides! Otherwise JS does not work -->
    <p hidden id="showTag">{{ tag }}</p>
    <div id="all_content">
        <div class="section collapse" id="customers">
            <h5 class="card-header">All customers:</h5>
            <div class="card card-body">
                <table id="customer_table" class="table table-striped table-bordered data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col ">ID</th>
                            <th scope="col ">F_Name</th>
                            <th scope="col ">L_Name</th>
                            <th scope="col ">Email</th>
                            <th scope="col ">Password</th>
                            <th scope="col ">Phone</th>
                            <th scope="col ">Address</th>
                            <th scope="col ">City</th>
                            <th scope="col ">State</th>
                            <th scope="col ">Zip</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.customer_id }}</td>
                            <td>{{ customer.first_name }}</td>
                            <td>{{ customer.last_name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.password }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.city }}</td>
                            <td>{{ customer.state }}</td>
                            <td>{{ customer.zip }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section collapse" id="sales_report">
            <div class="card-header">
                <form class="form-inline" action="{% url 'polls:sales_month' %}" method="post">{% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="selectMonth" class="col-md-12 col-form-label">For which month you would like to check sales report: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select id="salesMonth" name="salesMonth" class="form-control">
                            <option value="01">January</option>
                            <option value="02">Feburary</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">Octorber</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
            <div class="card card-body">
                <h5 class="card-title text-center">Current sales report is: {{ sales_month }}</h5>
                <table id="sales_report_table" class="table table-striped table-bordered data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col ">Airline Company Name</th>
                            <th scope="col ">Airline ID</th>
                            <th scope="col ">Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in sales_data %}
                        <tr>
                            <!-- <th scope="row "></th> -->
                            <td>{{ data.0 }}</td>
                            <td>{{ data.1 }}</td>
                            <td>{{ data.2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not sales_data %}
                <div style="text-align:center">
                    <h2>No data for this month</h2>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="section collapse" id="flights">
            <div class="card-header">
                <div class="text-center">
                    <p>Data for all flights are too large to load, see flights by selecting airline company</p>
                </div>
                <div id="select_airline">
                    <form class="form-inline" action="{% url 'polls:get_all_flights' %}" method="post">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="selectMonth" class="col-md-12 col-form-label">Fetch flights data for airline company: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <select id="airline" name="airline" class="form-control">
                                {% for airline in airlines %}
                                <option value="{{airline}}">{{airline}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card card-body">
                <table id="flights_table" class="table table-striped table-bordered data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col ">ID</th>
                            <th scope="col ">Airline Name</th>
                            <th scope="col ">Flgiht ID</th>
                            <th scope="col ">Capacity</th>
                            <th scope="col ">Base Price</th>
                            <th scope="col ">Workday</th>
                            <th scope="col ">Depart Time</th>
                            <th scope="col ">Depart Airport</th>
                            <th scope="col ">Arrive Time</th>
                            <th scope="col ">Arrive Airport</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in flights %}
                        <tr>
                            <!-- <th scope="row "></th> -->
                            <td>{{ flight.fid }}</td>
                            <td>{{ flight.airline.airline_name }}</td>
                            <td>{{ flight.flight_id }}</td>
                            <td>{{ flight.capacity }}</td>
                            <td>{{ flight.fare }}</td>
                            <td>{{ flight.workday }}</td>
                            <td>{{ flight.depart_time }}</td>
                            <td>{{ flight.depart_airport }}</td>
                            <td>{{ flight.arrive_time }}</td>
                            <td>{{ flight.arrive_airport }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section collapse" id="reservations_flight">
            <div class="card-header">
                <!-- <div class="text-center">
                    <p>Data for all flights are too large to load, see flights by selecting airline company</p>
                </div> -->
                <div id="enter_flight">
                    <form class="form-inline" action="{% url 'polls:get_reservations_with_flight' %}" method="post">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="reservation_search_flights" class="col-md-12 col-form-label">Search reservations by flight number (FID): </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="reservation_search_flights" name="reservation_search_flights">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card card-body">
                <div id="table_overflow">
                    <table id="reservations_flight" class="table table-striped table-bordered data-table reservations" style="width:100%">
                        <thead>
                            <tr>
                                {% for column in TABLE_COLUMNS.Reservation_Info %}
                                <th scope="col ">{{column}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservation_search_flights %}
                            <tr>
                                {% for data in reservation %}
                                <td> {{ data }} </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section collapse" id="reservations_customer">
            <div class="card-header">
                <!-- <div class="text-center">
                            <p>Data for all flights are too large to load, see flights by selecting airline company</p>
                        </div> -->
                <div id="enter_customer">
                    <form class="form-inline" action="{% url 'polls:get_reservations_with_customer' %}" method="post">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="reservation_search_customer_first_name" class="col-md-12 col-form-label">Search reservations by customer, First Name: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="reservation_search_customer_first_name" name="reservation_search_customer_first_name">
                        </div>
                        <div class="form-group mb-2">
                            <label for="reservation_search_customer_last_name" class="col-md-12 col-form-label">Last Name: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="reservation_search_customer_last_name" name="reservation_search_customer_last_name">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card card-body">
                <div id="table_overflow">
                    <table id="reservations_customer" class="table table-striped table-bordered data-table reservations" style="width:100%">
                        <thead>
                            <tr>
                                {% for column in TABLE_COLUMNS.Reservation_Info %}
                                <th scope="col ">{{column}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservation_search_customer %}
                            <tr>
                                {% for data in reservation %}
                                <td> {{ data }} </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section collapse" id="delay_flights">
            <div class="card-header">
                <form class="form-inline" action="{% url 'polls:get_delay_flights' %}" method="post">{% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="delay_select" class="col-md-12 col-form-label">For which month you would like to check delay flights: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select id="delay_select" name="delay_month" class="form-control">
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">Octorber</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
            <div class="card card-body">
                <div id="table_overflow">
                    <table id="delay" class="table table-striped table-bordered data-table" style="width:100%">
                        <thead>
                            <tr>
                                {% for column in TABLE_COLUMNS.Delay_Flights %}
                                <th scope="col ">{{column}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for delay in delay_flights %}
                            <tr>
                                {% for data in delay %}
                                <td> {{ data }} </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section collapse" id="airport_flights">
            <div class="card-header">
                <form class="form-inline" action="{% url 'polls:get_airport_flights' %}" method="post">{% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="selectFlight" class="col-md-12 col-form-label">For which airport you would like to search flights: </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select id="selectFlight" name="airport" class="form-control">
                            {% for key,value in airports.items %}
                            <option value="{{key}}">({{key}}) {{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </form>
            </div>
            <div class="card card-body">
                <h5 class="card-header" style="margin-bottom: 10px;">Current Airport: {{ request.session.flight_airport }}</h5>
                <table id="airport_flights_table" class="table table-striped table-bordered data-table" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col ">ID</th>
                            <th scope="col ">Airline Name</th>
                            <th scope="col ">Flgiht ID</th>
                            <th scope="col ">Capacity</th>
                            <th scope="col ">Base Price</th>
                            <th scope="col ">Workday</th>
                            <th scope="col ">Depart Time</th>
                            <th scope="col ">Depart Airport</th>
                            <th scope="col ">Arrive Time</th>
                            <th scope="col ">Arrive Airport</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in flight_airports %}
                        <tr>
                            <!-- <th scope="row "></th> -->
                            <td>{{ flight.fid }}</td>
                            <td>{{ flight.airline.airline_name }}</td>
                            <td>{{ flight.flight_id }}</td>
                            <td>{{ flight.capacity }}</td>
                            <td>{{ flight.fare }}</td>
                            <td>{{ flight.workday }}</td>
                            <td>{{ flight.depart_time }}</td>
                            <td>{{ flight.depart_airport }}</td>
                            <td>{{ flight.arrive_time }}</td>
                            <td>{{ flight.arrive_airport }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section collapse" id="reserved_customers">
            <div class="card-header">
                <!-- <div class="text-center">
                        <p>Data for all flights are too large to load, see flights by selecting airline company</p>
                    </div> -->
                <div id="enter_reserved_flight">
                    <form class="form-inline" action="{% url 'polls:get_reserved_customers' %}" method="post">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="rreserved_flight" class="col-md-12 col-form-label">Search customers reserved on given flight with FID: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="reserved_flight" name="reserved_fid">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card card-body">
                <table id="reserved_customers" class="table table-striped table-bordered data-table" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in TABLE_COLUMNS.Reserved_Customers %}
                            <th scope="col ">{{column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cus in reserved_customers %}
                        <tr>
                            {% for data in cus %}
                            <td> {{ data }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section collapse" id="customer_revenue">
            <div class="card card-body">
                <table id="customer_revenue_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in TABLE_COLUMNS.Customer_Revenue%}
                            <th scope="col ">{{column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cus in customer_revenue %}
                        <tr>
                            {% for data in cus %}
                            <td> {{ data }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section collapse" id="customer_info">
            <div class="card-header">
                <div id="enter_manage_customer">
                    <form class="form-inline" action="{% url 'polls:get_manage_customer_id' %}" method="post">{% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="reservation_search_customer_first_name" class="col-md-12 col-form-label">Get customer info by customer name, First Name: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="manage_customer_first_name" name="manage_customer_first_name">
                        </div>
                        <div class="form-group mb-2">
                            <label for="reservation_search_customer_last_name" class="col-md-12 col-form-label">Last Name: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" id="manage_customer_last_name" name="manage_customer_last_name">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
            </div>
            <div class="card card-body">
                <form action="{% url 'polls:manager_update_user' %}" method="post">{% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="customer_id" value="{{ request.session.manager_update_customer_id }}">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="{{ manage_customer.email }}" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter New Password Here">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="first_name" placeholder="{{ manage_customer.first_name }}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="last_name" placeholder="{{ manage_customer.last_name }}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="phone">Phone</label>
                            <input type="number" class="form-control" id="phone" name="phone" placeholder="{{ manage_customer.phone }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" name="address" placeholder="{{ manage_customer.address }}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city" placeholder="{{ manage_customer.city }}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" name="state" class="form-control">
                                <option selected value="{{ manage_customer.state }}">{{ manage_customer.state }}</option>
                                {% for state in states %}
                                <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Zip</label>
                            <input type="number" class="form-control" id="inputZip" name="zip" placeholder="{{ manage_customer.zip }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPreference">Preference</label>
                            <input type="text" class="form-control" id="inputPreference" name="preference" placeholder="{{ manage_customer.preference }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="card border-danger mb-3">
                <div class="card-body text-danger">
                    <h5 class="card-title">Delete Customer Here:</h5>
                    <p class="card-text">Are you sure you want to delete this customer?</p>
                    <form class="form-inline" action="{% url 'polls:manager_delete_customer' %}" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="section collapse" id="revenue_flights">
            <h5 class="card-header">Top 100 revenue flights:</h5>
            <div class="card card-body">
                <table id="revenue_flights_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in TABLE_COLUMNS.Revenue_by_flights%}
                            <th scope="col ">{{column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for rev in revenue_by_flights %}
                        <tr>
                            {% for data in rev %}
                            <td> {{ data }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section collapse" id="revenue_airports">
            <h5 class="card-header">Revenue by destination city:</h5>
            <div class="card card-body">
                <table id="revenue_flights_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in TABLE_COLUMNS.Revenue_by_airports%}
                            <th scope="col ">{{column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for rev in revenue_by_airports %}
                        <tr>
                            {% for data in rev %}
                            <td> {{ data }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section collapse" id="active_flights">
            <h5 class="card-header">Top 100 most active flights:</h5>
            <div class="card card-body">
                <table id="active_flights_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">FID</th>
                            <th scope="col">Activeness</th>
                            <th scope="col">Airline iD</th>
                            <th scope="col">Flight ID</th>
                            <th scope="col">Depart Airport</th>
                            <th scope="col">Arrive Airport</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in active_list %}
                        <tr>
                            {% for data in flight %}
                            <td scope="col">{{ data }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('.data-table').not($(".reservations")).DataTable({
            "deferRender": true,
        });
        $('.reservations').DataTable({
            "deferRender": true,
            "scrollX": true
        });
        $('#customer_revenue_table').DataTable({
            "deferRender": true,
            "order": [[4, "desc"]]
        });
        $('#revenue_flights_table').DataTable({
            "deferRender": true,
            "order": [[4, "desc"]]
        });
        $('#active_flights_table').DataTable({
            "ajax": {
                "url": '{% url "polls:manager_most_active_flight" %}',
                "dataSrc": ""
            },
            "deferRender": true,
            "order": [[1, "desc"]]
        });
    });

    var $content = $('.section');

    function showContent(type) {
        // this assumes that you really must select
        // the content using a class and not an ID (which you've 
        // referenced in the href)
        $content.collapse('hide')
        $content.filter(type).collapse('show');
    }

    $('.navbar-nav').on('click', '.content-link', function (e) {
        e.preventDefault();
        $('.active').removeClass('active');
        $(e.currentTarget).closest('li').addClass('active');
        showContent(e.currentTarget.hash);
    });

    var tag = $("#showTag").text()
    showContent("#" + tag);
    $('.active').removeClass('active');
    $('#nav_' + tag).closest('li').addClass('active');
</script>

</html>