{% load static %}
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">


    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <title>SuperFligt Manager</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/manager_index.css' %}" />
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Super Flight</h3>
            </div>

            <ul class="list-unstyled components menu">
                <p>Manage Site</p>
                <li>
                    <a href="#customers" class="menu-btn">Customers</a>
                </li>
                <li>
                    <a href="#contact" class="menu-btn">Contact</a>
                </li>
                <li>
                    <a href="#misc" class="menu-btn">Misc</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                    <div id="right">
                        <button type="button" class="btn btn-info">
                            <a href="{% url 'polls:index_default' %}">Back to search page</a>
                        </button>
                    </div>
                </div>
            </nav>

            <div id="content-link">
                <div class="menu-content customers">
                    <table id="customer_table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th scope=" col ">ID</th>
                                <th scope="col ">F_Name</th>
                                <th scope="col ">L_Name</th>
                                <th scope="col ">Email</th>
                                <th scope="col ">Phone</th>
                                <th scope="col ">Address</th>
                                <th scope="col ">City</th>
                                <th scope="col ">State</th>
                                <th scope="col ">Zip</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <!-- <th scope="row "></th> -->
                                <td>{{ customer.customer_id }}</td>
                                <td>{{ customer.first_name }}</td>
                                <td>{{ customer.last_name }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.phone }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.city }}</td>
                                <td>{{ customer.state }}</td>
                                <td>{{ customer.zip }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="menu-content contact ">Contact</div>
                <div class="menu-content misc ">Misc</div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#customer_table').DataTable();
    });

    $(document).ready(function () {
        $("#sidebar ").mCustomScrollbar({
            theme: "minimal "
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    var $content = $('.menu-content');

    function showContent(type) {
        // this assumes that you really must select
        // the content using a class and not an ID (which you've 
        // referenced in the href)
        $content.hide().filter('.' + type).show();
    }

    $('.menu').on('click', '.menu-btn', function (e) {
        // get the type to pass to showContent by grabbing
        // the hash from the anchor href and removing the first
        // character (the #)
        showContent(e.currentTarget.hash.slice(1));
        e.preventDefault();
    });

    // show 'about' content only on page load (if you want)
    showContent('customers');
</script>

</html>