#header {
    margin-top:30px;
    margin-left: 40px;
    margin-bottom: -10px;
    font-size: x-small;
    overflow: visible;
}

#header h2 {
    font-size: x-large;
    overflow: visible;
}

#header .left {
    float: left;
    color: #ff9933;
}

#header .right {
    float: right;
    margin-right: 40px;
}

#header #exampleModal #myTabContent #home {
    margin-top: 15px;
    font-weight: 300;
}

#header #exampleModal #myTabContent #profile {
    margin-top: 15px;
    font-weight: 300;
}

#header #exampleModal #myTabContent #register .warning {
    font-size: small;
}

#header #exampleModal #myTabContent #register label {
    font-size: medium;
}

#selection {
    background: linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.005)
      ),white url("images/Busch.jpg") no-repeat;
    background-size: cover;
    opacity: 0.8;
    min-height: 600px;
}

#selection #top {
    padding-top: 80px;
}

#white {
    background-color: white;
    opacity: 0.9;
    height: 450px;
    margin-left: 20px;
    margin-right: 20px;
}

#selection #welcome {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


#selection #dropdown {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#selection #dropdown #from {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #to {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #leave {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #return {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #passenger {
    width: 150;
    margin-right: 10px;
    margin-left: -20px;
}

#selection #dropdown #passenger_icon {
    float: left;
    margin-top: 2px;
}

#selection #dropdown #fourth_group {
    float: right;
}

#selection #dropdown #search {
    width: 100;
    margin-right: 20px;
    margin-top: 30px;
}

li a {
    color: green;
}

#footer #disclaimer{
    margin-top: -50px;
    margin-bottom: -40px;
    font-size: small;
}

#footer #copyright {
    font-size: x-small;
}