#header {
    margin-top:20px;
    margin-left: 40px;
    margin-bottom: -10px;
    font-size: x-small;
    overflow: auto;
}

#header h2 {
    font-size: x-large;
    overflow: auto;
}

#header .left {
    float: left;
    color: #ff9933;
}

#header .right {
    color:black;
    float: right;
    margin-right: 40px;
}

#header #exampleModal #myTabContent #home {
    margin-top: 15px;
    font-weight: 300;
}

#header #exampleModal #myTabContent #profile {
    margin-top: 15px;
    font-weight: 300;
}

#selection {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
      ),white url("images/Busch.jpg") no-repeat;
    opacity: 0.8;
    height: 700px;
}

#selection #welcome {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#selection #dropdown {
    background-color: white;
    opacity: 0.9;
    margin-left: 100px;
    margin-right: 100px;
    height: 250px;
}

#selection #dropdown {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#selection #dropdown #from {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #to {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #leave {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #return {
    margin-left: -20px;
    margin-right: 20px;
}

#selection #dropdown #passenger {
    width: 150;
    margin-right: 10px;
    margin-left: -20px;
}

#selection #dropdown #passenger_icon {
    float: left;
    margin-top: 2px;
}

#selection #dropdown #search {
    width: 100;
    margin-left: 13px;
}

li a {
    color: green;
}

#footer #disclaimer{
    margin-top: -50px;
    margin-bottom: -40px;
    font-size: small;
}

#footer #copyright {
    font-size: x-small;
}